
body {
	margin: 2em auto;
	width: 800px;
}

th {
	border-radius: 15px;
	-moz-border-radius: 15px;
	background-color: #eef;
	padding: 1ex;
}

p.warn {
	margin: 1em;
	padding: 1em;
	background-color: #ff5;
}

td.formend {
	text-align: center;
}

a.del {
	text-decoration: none;
	background-color: #cca;
	color: #a00;
}

th.l {
	text-align: left;
}

td.mlink {
	border-bottom: solid #ddd 1px;
	text-align: center;
}

div.smallform {
	text-align: center;
	margin: 1em;
	padding: 1em;
	float: left;
	background-color: #dde;
}

