[Desktop Entry]
Type=Service
Icon=system-file-manager
ServiceTypes=KonqPopupMenu/Plugin,application/zip

Actions=Viewjar;
X-KDE-Priority=Toplevel

[Desktop Action Viewjar]
Name=Open as jar in Firefox
Name[pl]=Wyświetl jako jar w Firefox
Exec=firefox jar:file://%U!/
Icon=firefox
